@use '../abstracts/' as global;

footer {
  padding: 1px;
  .control {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: right;

    .back {
      padding: 0 15px;
      display: flex;
      align-items: center;
      border: 1px solid #ededed;
      background-color: white;
      border-radius: 4px;
      font-weight: global.$weight-thick;
      cursor: pointer;
      &:hover {
        border: 1px solid #b0b0b0;
      }

      span {
        margin-left: 5px;
      }
    }
  }
}

@media (min-width: 320px) {
  .control {
    padding: 0 10px;
  }
}
@media (min-width: 481px) {
}
@media (min-width: 641px) {
}
@media (min-width: 961px) {
  .control {
    padding: 0;
  }
}
@media (min-width: 1070px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
