@use '../abstracts' as global;

.header {
  .btn_cancel {
    width: 25px;
    aspect-ratio: 1;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ededed;
    margin-right: 20px;
  }
  .header_text {
    font-weight: global.$weight-thick;
  }
  .header_hr {
    margin-top: 30px;
    border-top: 1px solid #e6e6e6;
  }
}

@media (min-width: 320px) {
  .btn_cancel {
    margin-left: 10px;
  }
}
@media (min-width: 481px) {
}
@media (min-width: 641px) {
}
@media (min-width: 961px) {
}
@media (min-width: 1070px) {
  /* big landscape tablets, laptops, and desktops */
  .btn_cancel {
    margin-left: 0;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
