@use '../abstracts' as global;

.container {
  width: 1050px;
  margin: 45px auto auto auto;

  .wrapper {
    background-color: white;
    padding: 0 160px;
    margin-bottom: 140px;
    border-radius: 10px;
    .body {
      margin-top: 30px;
      padding-top: 60px;
      border-radius: 10px;

      .title {
        margin: 0 auto;
        text-align: center;

        .title_main {
          font-weight: global.$weight-thick;
          font-size: 24px;
          line-height: 30px;
          letter-spacing: 0.26px;
        }
        .title_sub {
          color: global.$color-secondary;
          font-size: 15px;
        }
      }
    }
    footer {
      padding: 1px;
      .control {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: right;

        .btn_cancel_membership {
          color: #6b6b6b;
        }
      }
    }
  }
}
