@use '../styles/abstracts/' as global;
$width-discount-icon: 64px;

.wrapper {
  margin: auto;
  width: 700px;
  height: 440px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.05);
  .close_wrapper {
    margin: 30px 30px 0 0;
    height: 14px;
  }
  .close_btn {
    float: right;
    cursor: pointer;
  }
  .body_container {
    margin: 0 40px;
    display: grid;
    grid-template-columns: $width-discount-icon auto;
    gap: 30px;

    .discount_icon_wrapper {
      margin-top: 14px;
    }
    .body {
      letter-spacing: 0.26px;
      .title {
        font-size: 24px;
        font-weight: global.$weight-thick;
        line-height: 40px;
      }
      .content {
        line-height: 30px;
        font-size: 15px;
        color: global.$color-secondary;
      }
    }
  }
}
.content_item_2 {
  margin-top: 30px;
  margin-left: 5px;
  .content_item_2-1 {
    font-weight: global.$weight-thick;
  }
  .content_control {
    margin-top: 30px;
    .cancel {
      font-weight: global.$weight-thick;
      font-size: 13px;
      line-height: 15px;
      color: #286ef1;
      margin-left: 20px;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      &:hover {
        color: #2260d4;
      }
    }
  }
}
