@use '../styles/abstracts/' as global;
$width-discount-icon: 64px;

.wrapper {
  margin: auto;
  max-width: 700px;
  max-height: 440px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.05);
  .close_wrapper {
    margin: 30px 30px 0 0;
    height: 14px;
  }
  .close_btn {
    float: right;
    cursor: pointer;
  }
  .body_container {
    margin: 0 40px;
    display: grid;
    grid-template-columns: $width-discount-icon auto;
    gap: 30px;

    .discount_icon_wrapper {
      margin-top: 14px;
    }
    .body {
      letter-spacing: 0.26px;
      .title {
        font-size: 24px;
        font-weight: global.$weight-thick;
        line-height: 40px;
      }
      .content {
        line-height: 30px;
        font-size: 15px;
        color: global.$color-secondary;
      }
    }
  }
}
.content_item_2 {
  margin-top: 30px;
  margin-left: 5px;
  .content_item_2-1 {
    font-weight: global.$weight-thick;
  }
  .content_control {
    margin-top: 30px;
    .cancel {
      font-weight: global.$weight-thick;
      font-size: 13px;
      line-height: 15px;
      color: #286ef1;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      &:hover {
        color: #2260d4;
      }
    }
  }
}

@media (min-width: 320px) {
  .wrapper {
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 10%;

    .body_container {
      display: block;
      .body {
        .title {
          font-size: 18px;
        }
      }
    }
  }
  .content_control {
    text-align: center;
    // border: 1px red solid;
    display: grid;
    .cancel {
      margin-top: 20px;
      border: 1px red solid;
    }
  }
}
@media (min-width: 481px) {
  .content_control {
    text-align: initial;
    display: block;
    .cancel {
      margin-left: 10px;
    }
  }
}
@media (min-width: 641px) {
  .wrapper {
    max-width: 700px;
    max-height: 440px;
    padding-bottom: 10%;

    .body_container {
      display: grid;
    }
  }
}
@media (min-width: 961px) {
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
