$color-navbar-bg: #333333;

.wrapper {
  background-color: $color-navbar-bg;
  color: white;
  height: 60px;
}

@media (min-width: 320px) {
}
@media (min-width: 481px) {
}
@media (min-width: 641px) {
}
@media (min-width: 961px) {
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
